<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StgkVoltageCabinetMapper">
    
    <resultMap type="StgkVoltageCabinet" id="StgkVoltageCabinetResult">
        <result property="id"    column="id"    />
        <result property="roomId"    column="room_id"    />
        <result property="cabinetName"    column="cabinet_name"    />
        <result property="cabinetStatus"    column="cabinet_status"    />
        <result property="current"    column="current"    />
        <result property="voltage"    column="voltage"    />
        <result property="power"    column="power"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectStgkVoltageCabinetVo">
        select id, room_id, cabinet_name, cabinet_status, current, voltage, power, create_time, create_by, update_time, update_by from stgk_voltage_cabinet
    </sql>

    <select id="selectStgkVoltageCabinetList" parameterType="StgkVoltageCabinet" resultMap="StgkVoltageCabinetResult">
        <include refid="selectStgkVoltageCabinetVo"/>
        <where>  
            <if test="roomId != null "> and room_id = #{roomId}</if>
            <if test="cabinetName != null  and cabinetName != ''"> and cabinet_name like concat('%', #{cabinetName}, '%')</if>
            <if test="cabinetStatus != null "> and cabinet_status = #{cabinetStatus}</if>
            <if test="current != null "> and current = #{current}</if>
            <if test="voltage != null "> and voltage = #{voltage}</if>
            <if test="power != null "> and power = #{power}</if>
        </where>
    </select>
    
    <select id="selectStgkVoltageCabinetById" parameterType="Long" resultMap="StgkVoltageCabinetResult">
        <include refid="selectStgkVoltageCabinetVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStgkVoltageCabinet" parameterType="StgkVoltageCabinet" useGeneratedKeys="true" keyProperty="id">
        insert into stgk_voltage_cabinet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">room_id,</if>
            <if test="cabinetName != null and cabinetName != ''">cabinet_name,</if>
            <if test="cabinetStatus != null">cabinet_status,</if>
            <if test="current != null">current,</if>
            <if test="voltage != null">voltage,</if>
            <if test="power != null">power,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">#{roomId},</if>
            <if test="cabinetName != null and cabinetName != ''">#{cabinetName},</if>
            <if test="cabinetStatus != null">#{cabinetStatus},</if>
            <if test="current != null">#{current},</if>
            <if test="voltage != null">#{voltage},</if>
            <if test="power != null">#{power},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateStgkVoltageCabinet" parameterType="StgkVoltageCabinet">
        update stgk_voltage_cabinet
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="cabinetName != null and cabinetName != ''">cabinet_name = #{cabinetName},</if>
            <if test="cabinetStatus != null">cabinet_status = #{cabinetStatus},</if>
            <if test="current != null">current = #{current},</if>
            <if test="voltage != null">voltage = #{voltage},</if>
            <if test="power != null">power = #{power},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStgkVoltageCabinetById" parameterType="Long">
        delete from stgk_voltage_cabinet where id = #{id}
    </delete>

    <delete id="deleteStgkVoltageCabinetByIds" parameterType="String">
        delete from stgk_voltage_cabinet where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>