<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StgkVoltageCabinetMonitorMapper">
    
    <resultMap type="StgkVoltageCabinetMonitor" id="StgkVoltageCabinetMonitorResult">
        <result property="id"    column="id"    />
        <result property="cabinetId"    column="cabinet_id"    />
        <result property="aCurrent"    column="a_current"    />
        <result property="bCurrent"    column="b_current"    />
        <result property="cCurrent"    column="c_current"    />
        <result property="uabVoltage"    column="uab_voltage"    />
        <result property="pPower"    column="p_power"    />
        <result property="cos"    column="cos"    />
        <result property="rh"    column="rh"    />
        <result property="pd"    column="pd"    />
        <result property="breakerUpATemperature"    column="breaker_up_a_temperature"    />
        <result property="breakerUpBTemperature"    column="breaker_up_b_temperature"    />
        <result property="breakerUpCTemperature"    column="breaker_up_c_temperature"    />
        <result property="breakerDownATemperature"    column="breaker_down_a_temperature"    />
        <result property="breakerDownBTemperature"    column="breaker_down_b_temperature"    />
        <result property="breakerDownCTemperature"    column="breaker_down_c_temperature"    />
        <result property="breakerOutATemperature"    column="breaker_out_a_temperature"    />
        <result property="breakerOutBTemperature"    column="breaker_out_b_temperature"    />
        <result property="breakerOutCTemperature"    column="breaker_out_c_temperature"    />
        <result property="closingCoilCurrent"    column="closing_coil_current"    />
        <result property="openingCoilCurrent"    column="opening_coil_current"    />
        <result property="storageMotorCurrent"    column="storage_motor_current"    />
        <result property="displacement"    column="displacement"    />
        <result property="trip"    column="trip"    />
        <result property="monitorTime"    column="monitor_time"    />
    </resultMap>

    <sql id="selectStgkVoltageCabinetMonitorVo">
        select id, cabinet_id, a_current, b_current, c_current, uab_voltage, p_power, cos, rh, pd, breaker_up_a_temperature, breaker_up_b_temperature, breaker_up_c_temperature, breaker_down_a_temperature, breaker_down_b_temperature, breaker_down_c_temperature, breaker_out_a_temperature, breaker_out_b_temperature, breaker_out_c_temperature, closing_coil_current, opening_coil_current, storage_motor_current, displacement, trip, monitor_time from stgk_voltage_cabinet_monitor
    </sql>

    <select id="selectStgkVoltageCabinetMonitorList" parameterType="StgkVoltageCabinetMonitor" resultMap="StgkVoltageCabinetMonitorResult">
        <include refid="selectStgkVoltageCabinetMonitorVo"/>
        <where>  
            <if test="cabinetId != null "> and cabinet_id = #{cabinetId}</if>
            <if test="aCurrent != null "> and a_current = #{aCurrent}</if>
            <if test="bCurrent != null "> and b_current = #{bCurrent}</if>
            <if test="cCurrent != null "> and c_current = #{cCurrent}</if>
            <if test="uabVoltage != null "> and uab_voltage = #{uabVoltage}</if>
            <if test="pPower != null "> and p_power = #{pPower}</if>
            <if test="cos != null "> and cos = #{cos}</if>
            <if test="rh != null "> and rh = #{rh}</if>
            <if test="pd != null "> and pd = #{pd}</if>
            <if test="breakerUpATemperature != null "> and breaker_up_a_temperature = #{breakerUpATemperature}</if>
            <if test="breakerUpBTemperature != null "> and breaker_up_b_temperature = #{breakerUpBTemperature}</if>
            <if test="breakerUpCTemperature != null "> and breaker_up_c_temperature = #{breakerUpCTemperature}</if>
            <if test="breakerDownATemperature != null "> and breaker_down_a_temperature = #{breakerDownATemperature}</if>
            <if test="breakerDownBTemperature != null "> and breaker_down_b_temperature = #{breakerDownBTemperature}</if>
            <if test="breakerDownCTemperature != null "> and breaker_down_c_temperature = #{breakerDownCTemperature}</if>
            <if test="breakerOutATemperature != null "> and breaker_out_a_temperature = #{breakerOutATemperature}</if>
            <if test="breakerOutBTemperature != null "> and breaker_out_b_temperature = #{breakerOutBTemperature}</if>
            <if test="breakerOutCTemperature != null "> and breaker_out_c_temperature = #{breakerOutCTemperature}</if>
            <if test="closingCoilCurrent != null "> and closing_coil_current = #{closingCoilCurrent}</if>
            <if test="openingCoilCurrent != null "> and opening_coil_current = #{openingCoilCurrent}</if>
            <if test="storageMotorCurrent != null "> and storage_motor_current = #{storageMotorCurrent}</if>
            <if test="displacement != null "> and displacement = #{displacement}</if>
            <if test="trip != null "> and trip = #{trip}</if>
            <if test="monitorTime != null "> and monitor_time = #{monitorTime}</if>
        </where>
    </select>
    
    <select id="selectStgkVoltageCabinetMonitorById" parameterType="Long" resultMap="StgkVoltageCabinetMonitorResult">
        <include refid="selectStgkVoltageCabinetMonitorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStgkVoltageCabinetMonitor" parameterType="StgkVoltageCabinetMonitor" useGeneratedKeys="true" keyProperty="id">
        insert into stgk_voltage_cabinet_monitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cabinetId != null">cabinet_id,</if>
            <if test="aCurrent != null">a_current,</if>
            <if test="bCurrent != null">b_current,</if>
            <if test="cCurrent != null">c_current,</if>
            <if test="uabVoltage != null">uab_voltage,</if>
            <if test="pPower != null">p_power,</if>
            <if test="cos != null">cos,</if>
            <if test="rh != null">rh,</if>
            <if test="pd != null">pd,</if>
            <if test="breakerUpATemperature != null">breaker_up_a_temperature,</if>
            <if test="breakerUpBTemperature != null">breaker_up_b_temperature,</if>
            <if test="breakerUpCTemperature != null">breaker_up_c_temperature,</if>
            <if test="breakerDownATemperature != null">breaker_down_a_temperature,</if>
            <if test="breakerDownBTemperature != null">breaker_down_b_temperature,</if>
            <if test="breakerDownCTemperature != null">breaker_down_c_temperature,</if>
            <if test="breakerOutATemperature != null">breaker_out_a_temperature,</if>
            <if test="breakerOutBTemperature != null">breaker_out_b_temperature,</if>
            <if test="breakerOutCTemperature != null">breaker_out_c_temperature,</if>
            <if test="closingCoilCurrent != null">closing_coil_current,</if>
            <if test="openingCoilCurrent != null">opening_coil_current,</if>
            <if test="storageMotorCurrent != null">storage_motor_current,</if>
            <if test="displacement != null">displacement,</if>
            <if test="trip != null">trip,</if>
            <if test="monitorTime != null">monitor_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cabinetId != null">#{cabinetId},</if>
            <if test="aCurrent != null">#{aCurrent},</if>
            <if test="bCurrent != null">#{bCurrent},</if>
            <if test="cCurrent != null">#{cCurrent},</if>
            <if test="uabVoltage != null">#{uabVoltage},</if>
            <if test="pPower != null">#{pPower},</if>
            <if test="cos != null">#{cos},</if>
            <if test="rh != null">#{rh},</if>
            <if test="pd != null">#{pd},</if>
            <if test="breakerUpATemperature != null">#{breakerUpATemperature},</if>
            <if test="breakerUpBTemperature != null">#{breakerUpBTemperature},</if>
            <if test="breakerUpCTemperature != null">#{breakerUpCTemperature},</if>
            <if test="breakerDownATemperature != null">#{breakerDownATemperature},</if>
            <if test="breakerDownBTemperature != null">#{breakerDownBTemperature},</if>
            <if test="breakerDownCTemperature != null">#{breakerDownCTemperature},</if>
            <if test="breakerOutATemperature != null">#{breakerOutATemperature},</if>
            <if test="breakerOutBTemperature != null">#{breakerOutBTemperature},</if>
            <if test="breakerOutCTemperature != null">#{breakerOutCTemperature},</if>
            <if test="closingCoilCurrent != null">#{closingCoilCurrent},</if>
            <if test="openingCoilCurrent != null">#{openingCoilCurrent},</if>
            <if test="storageMotorCurrent != null">#{storageMotorCurrent},</if>
            <if test="displacement != null">#{displacement},</if>
            <if test="trip != null">#{trip},</if>
            <if test="monitorTime != null">#{monitorTime},</if>
         </trim>
    </insert>

    <update id="updateStgkVoltageCabinetMonitor" parameterType="StgkVoltageCabinetMonitor">
        update stgk_voltage_cabinet_monitor
        <trim prefix="SET" suffixOverrides=",">
            <if test="cabinetId != null">cabinet_id = #{cabinetId},</if>
            <if test="aCurrent != null">a_current = #{aCurrent},</if>
            <if test="bCurrent != null">b_current = #{bCurrent},</if>
            <if test="cCurrent != null">c_current = #{cCurrent},</if>
            <if test="uabVoltage != null">uab_voltage = #{uabVoltage},</if>
            <if test="pPower != null">p_power = #{pPower},</if>
            <if test="cos != null">cos = #{cos},</if>
            <if test="rh != null">rh = #{rh},</if>
            <if test="pd != null">pd = #{pd},</if>
            <if test="breakerUpATemperature != null">breaker_up_a_temperature = #{breakerUpATemperature},</if>
            <if test="breakerUpBTemperature != null">breaker_up_b_temperature = #{breakerUpBTemperature},</if>
            <if test="breakerUpCTemperature != null">breaker_up_c_temperature = #{breakerUpCTemperature},</if>
            <if test="breakerDownATemperature != null">breaker_down_a_temperature = #{breakerDownATemperature},</if>
            <if test="breakerDownBTemperature != null">breaker_down_b_temperature = #{breakerDownBTemperature},</if>
            <if test="breakerDownCTemperature != null">breaker_down_c_temperature = #{breakerDownCTemperature},</if>
            <if test="breakerOutATemperature != null">breaker_out_a_temperature = #{breakerOutATemperature},</if>
            <if test="breakerOutBTemperature != null">breaker_out_b_temperature = #{breakerOutBTemperature},</if>
            <if test="breakerOutCTemperature != null">breaker_out_c_temperature = #{breakerOutCTemperature},</if>
            <if test="closingCoilCurrent != null">closing_coil_current = #{closingCoilCurrent},</if>
            <if test="openingCoilCurrent != null">opening_coil_current = #{openingCoilCurrent},</if>
            <if test="storageMotorCurrent != null">storage_motor_current = #{storageMotorCurrent},</if>
            <if test="displacement != null">displacement = #{displacement},</if>
            <if test="trip != null">trip = #{trip},</if>
            <if test="monitorTime != null">monitor_time = #{monitorTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStgkVoltageCabinetMonitorById" parameterType="Long">
        delete from stgk_voltage_cabinet_monitor where id = #{id}
    </delete>

    <delete id="deleteStgkVoltageCabinetMonitorByIds" parameterType="String">
        delete from stgk_voltage_cabinet_monitor where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectStgkVoltageCabinetMonitorByCabinetId" parameterType="Long" resultMap="StgkVoltageCabinetMonitorResult">
        <include refid="selectStgkVoltageCabinetMonitorVo"/>
        where cabinet_id = #{cabinetId}
        order by monitor_time desc
        limit 1
    </select>
</mapper>