<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StgkDeviceTypeMapper">
    
    <resultMap type="StgkDeviceType" id="StgkDeviceTypeResult">
        <result property="id"    column="id"    />
        <result property="typeName"    column="type_name"    />
        <result property="typeEnum"    column="type_enum"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectStgkDeviceTypeVo">
        select id, type_name, type_enum, create_time, create_by, update_time, update_by from stgk_device_type
    </sql>

    <select id="selectStgkDeviceTypeList" parameterType="StgkDeviceType" resultMap="StgkDeviceTypeResult">
        <include refid="selectStgkDeviceTypeVo"/>
        <where>  
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="typeEnum != null  and typeEnum != ''"> and type_enum = #{typeEnum}</if>
        </where>
    </select>
    
    <select id="selectStgkDeviceTypeById" parameterType="Long" resultMap="StgkDeviceTypeResult">
        <include refid="selectStgkDeviceTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStgkDeviceType" parameterType="StgkDeviceType" useGeneratedKeys="true" keyProperty="id">
        insert into stgk_device_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null">type_name,</if>
            <if test="typeEnum != null">type_enum,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null">#{typeName},</if>
            <if test="typeEnum != null">#{typeEnum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateStgkDeviceType" parameterType="StgkDeviceType">
        update stgk_device_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="typeEnum != null">type_enum = #{typeEnum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStgkDeviceTypeById" parameterType="Long">
        delete from stgk_device_type where id = #{id}
    </delete>

    <delete id="deleteStgkDeviceTypeByIds" parameterType="String">
        delete from stgk_device_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>